<mat-card class="chat-container">
    <mat-card-header style="margin-bottom: 10px;">
      <mat-card-title>Chat Room</mat-card-title>
      <mat-card-subtitle>Welcome , {{currentUserName}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
       <div class="room-selector">
        <mat-form-field appearance="outline">
          <mat-label>Select Room</mat-label>
          <input matInput [(ngModel)]="currentRoom" (change)="onRoomChange()" placeholder="Enter room name">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onRoomChange()">
          Join Room
        </button>

        </div>

        <div class="messages-container">
          <app-chat-messages [messages]="messages"></app-chat-messages>
        </div>
    </mat-card-content>
    
    <mat-card-actions>
      <app-chat-input (sendMessage)="onSendMessage($event)"></app-chat-input>
    </mat-card-actions>
  </mat-card>