.messages-container {
  max-height: 400px;
  overflow-y: auto;
}

.message-item {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.message {
  width: 100%;
  padding-bottom: 2px;
  
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.username {
  font-weight: bold;
  color: #1976d2;
}

.timestamp {
  font-size: 0.8em;
  color: #666;
}

.message-content {
  margin-left: 10px;
}

.message-content p {
  margin: 0;
  word-wrap: break-word;
}

/* Override Material styles */
:host ::ng-deep .mat-mdc-list-item-unscoped-content {
  width: 100%;
}
